@import "tailwindcss";

:root {
  --primary-color: #4682a9;
  --secondary-color: #749bc2;
  --tertiary-color: #91c8e4;
  --fourth-color: #fffbde;
  --background-color: #404e7c;
  --text-color-one: #cdedfd;
  --text-color-two: #b6dcfe;
  --background-white: #fff;
  --text-black: var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
